<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- helper object for DI -->
    <bean id="theHorn" class="com.eldar.FancyHorn"></bean>
    
   <bean id="theCar" class="com.eldar.FamilyCar">
   	<property name="horn" ref="theHorn"></property>
   	<property name="color" value="blue"></property>
   </bean>
   
   
</beans>





